<div class="col-2"> <input type="checkbox" class="checkbox"> </div>
                           <div class="col d-flex justify-content-start "><label for="checkbox"> <%= workItems[i] %> </label></div>


<div class="row item itemItem d-flex justify-content-start" >
<div class="row item d-flex justify-content-start"> 
    <input type="checkbox" class="checkbox"> 
    <label for="checkbox"> <%= workItems[i] %> </label>
</div>

</div>