body {
    background-color: #F1F0E8;
}

input[type=checkbox]:checked + label {
    color:red;
    text-decoration: line-through;
}

input[type="text"]
{
    background: transparent;
    border: none;
    text-align: center;
    width: 80%;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.submitButton {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 0px;
    border: none;
    background-color: #96B6C5;
    font-weight: bold;
    color: #F1F0E8;
    font-size: 25px;
    text-align: center;
}

h1 {
    font-size: 30px;
    margin: 0px;
    padding: 10px;
}

#title {
    display: flex;
    justify-content: center;
    background-color: #96B6C5;
    box-shadow: 5px 5px 19px 5px rgba(0,0,0,0.26);
    border-radius: 5px;
    
}

#list {
    background-color: #EEE0C9;
    box-shadow: 5px 5px 19px 5px rgba(0,0,0,0.26);
    border-radius: 5px;
    
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 5px;
    
}

.itemItem {
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    gap: 20px;
}

.borderTop {
    border-top: 0.5px solid rgb(219, 213, 213);
}